body {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
}

header {
    display: flex;
    background-color: #2f2a2d;
    justify-content: space-between;
    color: #fafafa;
    padding: 30px 80px;
}

button {
    outline: none;
    cursor: pointer;
}

p {
    margin: 0 0 5px 0;
}

img {
    max-width: 100%;
    height: auto
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-cart {
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
    .btn-cart:hover{
        background-color: transparent;
        border-color: #fafafa;
        color: #fafafa;
    }

.btn-cart, 
.logo {
    align-self: center;
}

.products {
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}

.busket-container {
    padding: 40px 80px;
}

.busket-product-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
    .busket-product-item .quantity {
        margin-right: 10px;
        margin-left: 10px;
    }
    .busket-product-item h3 {
        margin: 0 auto 0 0;
    }

.desc {
    border: 1px solid #c0c0c040;
    padding: 15px
}

.black-btn {
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
    .black-btn:hover{
        background-color: transparent;
        border-color: #2f2a2d;
        color: #2f2a2d;
    }

.quantity-btn {
    width: 20px;
    height: 20px;
    border: none;
    background: #2f2a2d;
    color: #fff;
    border-radius: 3px;
    margin: 6px;
}